:css
  .cprogress {
    height: 256px;
    position: relative;
    text-align: center;
  }

  .action {
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .action button {
    width: 100%;
  }

  .photo {
    text-align: center;
    padding: 0;
  }

  .photo img {
    height: 256px;
    width: auto;
    border-radius: 6px;
  }

  .addthis_toolbox {
    margin-left: 100px;
  }

  .progress {
    margin: 0;
  }

%h1= @blood_request.person_name

.row(style="margin-top: 30px")
  .span5.well.photo
    %img{:src =>  @blood_request.photo.url}
  .span5.cprogress
    %h4 #{@blood_request.hospital}, Secţia #{@blood_request.section}
    %br

    .progress.progress-danger.active
      .bar{:style => "width: #{@blood_request.percent_complete}%"}
    %h3 #{@blood_request.donors.count} / #{@blood_request.persons_required} donatori găsiţi

    .share
      .addthis_toolbox.addthis_default_style.addthis_32x32_style
        %a.addthis_button_facebook
        %a.addthis_button_odnoklassniki_ru
        %a.addthis_button_vk
        %a.addthis_button_twitter
        %a.addthis_button_google_plusone_share

    .span5.action
      %button.btn.btn-primary.btn-large Donează Sânge

.row(style="margin-top: 30px")
  .span12
    %h4 Date de contact
    %p= @blood_request.contacts
    %hr
    %p= @blood_request.description

%script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-508e563741b6132f")
