:css
  .span4.br {
    margin-bottom: 20px;
  }

%section.carousel
  .image= image_tag 'carousel.png'
  .info
    %h1
      Bine ai venit pe donezsange.eu
      %br>/
      Locul unde salvăm vieți împreună
    %h2 Acest portal a fost creat pentru a ușura și facilita procesul de comunicare între potențiali donatori de sînge și persoane care sunt în nevoie.
    .buttons
      %a.btn.btn-danger{:href => "#", :href => "#{new_donation_path}"} Donează
      %a.btn.btn-danger{:href => "#", :href => help_path} Caut donatori

%section.profiles
  .row
    .span6
      %h3 Ultimele cereri întroduse
    .span6.text-right.tall= link_to 'Vezi toate cererile', cases_path
  .row-fluid
    - @blood_requests.each do |br|
      = render '/blood_requests/case_box', :br => br

%section.partners
  .row
    .span12
      %h3 Parteneri
  .row
    .span12
      .box
        .box-inner
          = link_to image_tag('partners/jurnaltv.png'), 'http://www.jurnaltv.md/'
      .box
        .box-inner
          = link_to image_tag('partners/pas.png'), 'http://www.pas.md/'
      .box
        .box-inner
          = link_to image_tag('partners/jurnaltv.png'), 'http://www.jurnaltv.md/'
      .box
        .box-inner
          = link_to image_tag('partners/pas.png'), 'http://www.pas.md/'


- if @show_welcome
  = render 'modal'
  :javascript
    $('#myModal').modal()
