:css
  .span4.br {
    margin-bottom: 20px;
  }

%section.carousel
  .image= image_tag 'carousel.png'
  .info
    %h1
      Bine ai venit pe donezsange.eu -
      %br>/
      locul unde salvăm vieți împreună.
    %h2 Aici poți afla ușor cum devii donator, te poți programa rapid pentru o donare și cel mai important poți cere ajutor.
    .buttons
      %a.btn.btn-danger{:href => "#", :href => "#{questionnaire_path}?redirect=#{new_donation_path}"} Donează
      %a.btn.btn-danger{:href => "#", :href => help_path} Caut donatori

%section.profiles
  .row
    .span12
      %h3 Persoane ce au nevoie de sânge
  .row
    - @blood_requests.each do |br|
      = render '/blood_requests/case_box', :br => br

  .row
    .span12.text-right= link_to 'Vezi toate cererile', cases_path

%section.infoblock
  .row
    .span12
      %hr/
  .row-fluid
    .span4
      .image
        %a(href="#")= image_tag "blog.png"
      %h2 Blog
    .span4
      .image
        %a(href="#")= image_tag "contacteaza-ne.png"
      %h2 Contactează-ne
    .span4
      .image
        %a(href="#")= image_tag "despre-proiect.png"
      %h2 Despre proiect

- if @show_welcome
  = render 'modal'
  :javascript
    $('#myModal').modal()
