:css
  .controls.date select {
    width: 80px;
  }

= form_for @donation, :html => {:class => 'form-horizontal formular'} do |f|
  %fieldset
    %legend
      Donează sânge
      .subtext Completați formularul de mai jos, iar în scurt timp veți fi contactat pentru a afla ora și data când puteți dona sânge.

    .control-group
      .control-label Donator:
      .controls
        %label.radio.inline{ :for => "donation_full_name_ruda" }
          = f.radio_button :full_name, 'ruda', :class => 'inline'
          Rudă
        %label.radio.inline{ :for => "donation_full_name_voluntar" }
          = f.radio_button :full_name, 'voluntar', :class => 'inline'
          Voluntar


    .control-group
      %label.control-label Numele, Prenumele, Patrimonicul:
      .controls
        = f.text_field :full_name, :class => 'input-xlarge'

    .control-group
      %label.control-label Sex:
      .controls
        = f.select :gender, [['Masculin', 'm'], ['Femenin', 'f']]

    .control-group
      %label.control-label Data naşterii:
      .controls.date
        = f.date_select :birthdate, :order => [:day, :month, :year],
                        :default => 18.years.ago, :start_year => 65.years.ago.year

    .control-group
      %label.control-label Grupa de sânge:
      .controls.date
        = f.select :blood_group, ['O(I)', 'A(II)', 'B(III)', 'AB(IV)']
        = f.select :blood_rh, ['Rh+', 'Rh-']

    .control-group
      %label.control-label Nr. de telefon:
      .controls.date= f.text_field :phone

    .control-group
      %label.control-label Email:
      .controls.date= f.email_field :email

    .control-group
      %label.control-label Buletin de identitate și seria:
      .controls.date= f.text_field :id_number

    .control-group
      %label.control-label Data înregistrării:
      .controls.date
        = f.datetime_select :donate_at, :default => 1.day.from_now,
                            :order => [:day, :month, :year, :hour, :minute]

  .form-actions
    = f.submit 'Confirmă înregistrarea', :class => 'btn btn-primary'
