.span4.br
  .image
    = link_to br.link do
      = attachment_image_tag br
  .purpose
    .text Mai e nevoie de #{br.persons_required - br.donations.count} din #{br.persons_required}
    .progress
      .bar.bar-danger{:style => "width: #{br.percent_complete}%;"}
  .description= br.description
  .calltoaction
    %a.btn.btn-danger{:href => br.link} Donează Sânge
