%button.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to image_tag('logo.png'), root_path, :class => 'brand'
.nav-collapse
  %ul.nav
    %li= link_to 'Vezi pacienti', cases_path
    %li= link_to "Doneaza", "#{questionnaire_path}?redirect=#{new_donation_path}"
    %li= link_to "Adauga o cerere noua", help_path
    %li= link_to 'Pot dona?', questionnaire_path

    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Informaţii Utile
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'Întrebări frecvente', home_path(:faq)
        %li= link_to 'Puncte de colectare', home_path(:centre)
    - if current_user
      - if current_user.staff
        %li= link_to 'Admin', '/admin'
      - else
        %li= link_to 'Iesire', 'users/sign_out'
    - else
      %li= link_to 'Logeaza', 'users/sign_in'

