!!!
%html
  %head
    %link(href='http://fonts.googleapis.com/css?family=Oxygen&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Donez"
      %meta{:content => content_for?(:description) ? yield(:description) : "Donez", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #main{:role => "main"}
      .navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
      .container
        = render 'layouts/messages'
        = yield
    %footer#footer
      .container
        %p.pull-right
          %a{:href => "#top"} Înapoi în sus
        .links
          %a{:href => "#"} Blog
          |
          %a{:href => "#"} Facebook
          |
          %a{:href => "#"} Contacteaza-ne
          |
          %a{:href => "#"} Despre Proiect
          |
          %a{:href => "#"} FAQ
          |
          %a{:href => "#"} Termeni și condiții
        %p
          Un site realizat în cadrul proiectului Sicamp Moldova 2013.
          %br>/
          În caz că doriți să susțineți proiectul sau să deveniți potențial partener contactați-ne la
          %a{:href => "#"} contact@donezsange.eu

    #feedback
      %a(href="#") feedback

:javascript
  (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/XL3MadEFiDCvQV32JV7LBg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()

:javascript
  UserVoice = window.UserVoice || [];
  function showClassicWidget() {
    UserVoice.push(['showLightbox', 'classic_widget', {
      mode: 'feedback',
      primary_color: '#cc6d00',
      link_color: '#007dbf',
      forum_id: 216561
    }]);
  }
  $('#feedback a').click(function () { showClassicWidget(); })
